@charset "utf-8";

@import url('bootstrap.min.css');
@import url('fonts.css');
@import url('font-awesome.min.css');

/* --- Global --- */
body { background: #f3f3f3; font-family: 'segoe_uiregular'; }
.container { width: 100%; max-width: 100%; min-height: 100%; height: 100%; }
.btn-main { background: #d80e0e; border: none; transition: all 500ms ease; border-radius: 3px; min-width: 65px; }
.btn-main:hover, .btn-main:focus { background: #8c2929; }
.text-link > a { color: #00acd7; text-decoration: underline; }
.text-link > a:hover { text-decoration: none; }
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th { background-color: #faffe9; }
/*form*/
.form-group { margin-bottom: 25px; }
form label { font-weight: normal; display: block; }
form input, form textarea, form .select-element { background: #ffffff; border: 1px solid #e3e3e3; box-shadow: 2px 2px 3px #dedede inset; border-radius: 3px; height: 32px; width: 100%; }
form input[type="checkbox"] { width: auto; height: auto; vertical-align: bottom; margin-bottom: 2px; } 
form input, form select { padding: 0 5px; }
form textarea { padding: 5px; }
.checkbox-element { width: 22px; height: 22px; border-radius: 3px; background: #ffffff; border: 1px solid #e3e3e3; float: left; box-shadow: 2px 2px 3px #dedede inset; margin-right: 10px; cursor: pointer; }
.enable-chkbx { background: url(../images/tick.png) no-repeat center; }
.checkbox-element > input[type="checkbox"] { display: inline-block; width: auto; display: none; }
form label[for="chkbx-elmnt"] { float: left; }
form label > span { float: right; }
.select-element { overflow: hidden; position: relative; }
.drop-ic { position: absolute; top: 8px; right: 12px; }
.select-control { padding-top: 4px; }
.select-control select { background: transparent; width: 110%; border: none; }
.select-control select option { padding: 3px; }
/*general*/
.center { text-align: center; }
.right { text-align: right; }

/* ---Header (global)--- */
.header { background: #0194e9; }
.brand { display: inline-block; background: url(../images/logo.png) no-repeat 0 0; width: 181px; height: 35px; vertical-align: middle; }
h1 { font-size: 18px; font-weight: normal; color: #545454; font-family: 'segoe_uilight'; }
/* header (on page)*/
.fixed-top { position: fixed; right: 0; left: 0; min-height: 70px; z-index: 2; }
.page-head { border-bottom: 1px solid #73b515; padding: 15px; }
.head-content-left { float: left; }
.logo, .mobile-menu { float: left; }
.mobile-menu { display: none; }
.mobile-menu > span { background: url(../images/ic-mobl-menu.png) 0 0 no-repeat; display: inline-block; width: 29px; height: 22px; margin-top: 7px; cursor: pointer;  }
.head-content-right { float: right; }
.user-block > p { color: #ffffff; margin-bottom: 0; }
.user-block > a { color: #f0ffc1; text-decoration: underline; }
.user-block > a:hover { text-decoration: none; }

/* ---Login-page--- */
.login-box { width: 380px; box-shadow: 0 0 8px #cdcdcd; margin: 90px auto 0; border-radius: 2px; background: #ffffff; overflow: hidden; }
.login-box .header { border: 1px solid #73b515; padding: 20px 0; }
.login-form { padding: 40px 40px 25px; }
.login-form button { width: 165px; margin-top: 10px; }
.login-form .text-link { font-size: 13px; margin-top: 15px; }

/* ---Navigation--- */
.navigation { position: fixed; top: 0; left: 0; padding-top: 71px; z-index: 1; height: 100%; min-height: 100%; }
.nav-block { background: #0194e9; width: 250px; box-shadow: 2px 5px 5px #d4d4d4; height: 100%; min-height: 100%; }
ul.nav-elements { list-style-type: none; padding: 0; }
ul.nav-elements li a { display: inline-block; width: 100%; height: 60px; border-top: 1px solid #0282cb; border-bottom: 1px solid #0282cb; padding: 18px 10px; color: #ffffff; transition: all 500ms ease; }
ul.nav-elements li .nav-ic { font-size: 20px; vertical-align: middle; color: #ffffff; margin-right: 10px; width: 20px; transition: all 500ms ease; text-align: center; }
ul.nav-elements li a .arrow { float: right; margin-top: 4px; }
ul.nav-elements li a:hover, ul.nav-elements li a:focus, ul.nav-elements li a.active-nav { text-decoration: none; color: #ffffff; background: #0282cb; }
ul.nav-elements li a:hover .nav-ic, ul.nav-elements li a:focus .nav-ic, ul.nav-elements li a.active-nav .nav-ic { color: #ffffff; } 

/* ---Content area--- */
.content-wrapper { padding-top: 71px; padding-left: 250px; padding-right: 0; position: relative; overflow: hidden; min-height: 100%; height: 100%; }
.content-left { width: 100%; }
.section-header { background: #ffffff; border-bottom: 1px solid #e1e1e1; padding: 8px 15px; }
.section-title { margin: 0; line-height: 32px; }
.section-title > a.btn-main { float: right; }
.title-ic { margin-right: 8px; }
.section-data { padding: 15px; }
.data-block { border-radius: 3px; background: #ffffff; border: 1px solid #e1e1e1; margin-bottom: 15px; }
.data-block thead tr th { border-bottom: medium none; padding: 15px 5px; font-weight: normal; font-family: 'segoe_uisemibold'; color: #232323; }
.data-block tbody tr td { padding-top: 10px; padding-bottom: 10px; }
.set-width { width: 490px; }
.data-block .form-group { margin-bottom: 20px; }
.data-block form a.btn-main { margin-right: 5px; }
.add-padding { padding: 10px 15px; }
ul.action-btns { list-style-type: none; padding: 0; margin: 0; }
ul.action-btns li { float: left; }
ul.action-btns li:first-child { margin-right: 8px; }
ul.action-btns li a { font-size: 18px; color: #00acd7; }
ul.action-btns li a:hover { text-decoration: none; }
.pagination { margin: 0; }
.block-title { font-size: 14px; font-weight: normal; border-bottom: 1px solid #e1e1e1; margin: 0; font-family: 'segoe_uisemibold'; background: #e4e4e4; color: #505050; padding: 8px 10px; }
.stats-block { margin-bottom: 20px; display: none; }
.item-stats { box-shadow: 0 0 3px #B4B4B4; color: #F3F3F3; display: inline-block; margin-right: 15px; padding: 25px 0; text-align: center; width: 170px; }
.lead-title { font-family: 'segoe_uibold'; font-size: 35px; margin: 0 0 5px; }
.item-stats > p { margin: 0; }
.item1 { background: #0ED2DE; }
.item2 { background: #DE0E6B; }
.item3 { background: #DEAF0E; }
.item4 { background: #0EDEB4; }

/* ---Search--- */
.inline-group { width: 250px; display: inline-block; vertical-align: top; margin-right: 30px; margin-bottom: 5px; }
.form-button { display: inline-block; margin-top: 23px; }




@media (max-width: 320px) {
	/* ---Login-page--- */
	.login-box { width: 100%; margin: 40px auto; }
	.login-form { padding: 20px 25px 15px; }
}

@media (min-width: 320px) and (max-width: 480px) {
	/*header (on page)*/
	.logo { padding-right: 0; border-right: none; }
	.head-content-left, .head-content-right { float: none; }
	.mobile-menu { float: right; display: block; padding-left: 0; border-left: none;  }
	.head-content-right { padding-top: 15px; }
	.user-block { text-align: left; }
	.user-block > p { display: inline-block; }
	
	/* ---Navigation--- */
	.navigation { padding-top: 101px; left: -250px; }
	
	/* ---Content area--- */
	.content-wrapper { padding-left: 0; padding-top: 101px; }
}

@media (min-width: 620px) and (max-width: 768px) {
	/* header (on page) */
	.logo { padding-right: 15px; border-right: 1px solid #6dae10; }
	.mobile-menu { display: block; padding-left: 15px; border-left: 1px solid #92d336; }
	
	/* ---Navigation--- */
	.navigation { left: -250px; }
	
	/* ---Content area--- */
	.content-wrapper { padding-left: 0; }
}